@CHARSET "ISO-8859-1";

.timeline{
	
}

.viewport{
	-fx-background-color:white;
	-fx-border-style:solid;	
	-fx-border-color:grey;
	-fx-border-width:1 1 1 1;
	-fx-pref-width:800px;
}

.scroll-pane{
	-fx-pannable:false;
	-fx-hbar-policy:never;
	-fx-vbar-policy:never;	
    -fx-background-insets: 0;
    -fx-padding: 0;
    
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

VBox{
	-fx-background-color: white;
}
